body {
  background-color: #e9ecef;
  opacity: 1;
}

.header {
  background-color: #ffffff;
  padding: 3px 0px;
}

.dropdown-menu img {
  display: block;
  margin: 0 auto;
}

.dropdown-menu.show {
  display: block;
  width: 250px;
}
.dropdown-menu button {
  display: block;
  margin: 0 auto;
}

.bg-transparent {
  border: none;
}

.list-group-item {
  padding-top: 2px;
  padding-bottom: 2px;
}

.images-cover {
  object-fit: cover;
  max-height: 250px;
}

.user-avatar {
  position: absolute;
  top: 120px;
}

.card-title,
.card-text {
  margin-left: 150px;
}
